:root {
  --text-color: #b3b3b3;
}

/* for smallBox */
.card {
  display: flex;
  padding: 3rem 1rem;
  flex-wrap: wrap;
}

.spring {
  width: 26rem;
  border: 1px solid #e3e3e3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  position: relative;
}

.spring img {
  max-width: 100%;
  vertical-align: middle;
}

.spring-link {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 38px 34px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}
.spring-text {
  display: flex;
  flex-direction: column;
}

.spring-link:hover {
  background-color: rgba(102, 117, 214, 0.7);
  transition: ease-in-out 0.6s;
}

.spring-link:hover .season,
.spring-link:hover .title {
  color: white;
}

.shop {
  position: absolute;
  top: 13rem;
  left: 37px;
  bottom: 32px;
  transform: scaleX(0);
  color: white;
  transition: transform 1s;
  border-bottom: 2px solid white;
}

.spring-link:hover .shop {
  transform: scaleX(1);
}

.title {
  font-size: 30px;
}

.season {
  color: #7b7b7b;
  font-size: 14px;
  line-height: 30px;
}

/* For midBox*/
.product {
  padding: 5rem 0px 140px 0px;
  position: relative;
}

.overview {
  margin-bottom: -40px;
  letter-spacing: 6px;
  padding-left: 27px;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 0px 33px 20px 23px;
}

/* block diplay */

.first-box {
  padding: 10px 26px;
  /* transform: scaleY(0); */
  visibility: visible;
}
.display {
  /* display: block; */
  padding: 10px 26px;
  /* transform: scaleY(1); */
  display: none;
}

.first-box-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #edebeb;
  padding: 27px 40px 37px;
}
.sort,
.money,
.color {
  flex: 0 1 25%;
  padding: 0px 15px 25px 0px;
}

.tags {
  flex: 0 1 20%;
}

.first-box-wrap h3 {
  padding-bottom: 15px;
  color: #343434;
}

.sort ul,
.money ul,
.color ul {
  list-style-type: none;
}

.circle {
  padding-right: 6px;
}

.blue {
  color: blue;
}
.grey {
  color: var(--text-color);
}

.green {
  color: green;
}

.red {
  color: red;
}

.white {
  color: var(--text-color);
}

.tags-buttons button {
  padding: 9px 16px;
  border-radius: 20px;
  color: var(--text-color);
  border: 1px solid #a5a5a5;
  margin: 4px 3px 2px 0px;
}

/*for search */
.search-box {
  padding: 10px 34px;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 20px 31px;
  font-size: 18px;
  border: 1px #d5d9dc solid;
}

.search-btn {
  position: absolute;
  border: none;
  top: 34px;
  left: 50px;
  color: #757575;
  font-size: 16px;
  background-color: transparent;
}

.first-box-wrap a {
  color: var(--text-color);
  text-decoration: none;
  line-height: 30px;
  font-size: 15px;
  letter-spacing: 1px;
}

.btn {
  border: none;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  color: var(--text-color);
}

.all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.all-icons {
  display: flex;
  justify-content: space-between;
}

.filter,
.second-search {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #343434;
  margin-left: 14px;
}

.filter:hover,
.second-search:hover {
  background-color: #717fe0;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.filter:hover .fitert,
.second-search:hover .searcht {
  color: white;
  transition: ease-in-out 0.5s;
}

.fitert,
.searcht {
  color: var(--text-color);
  font-size: 15px;
}

/* Products*/

.for-product {
  width: 100%;
  vertical-align: middle;
  transition: ease-in-out 0.5s;
}

.pictures-wrap {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.picture {
  padding: 20px 15px;
  margin: auto;
  width: 20rem;
  text-decoration: none;
}

.product-img {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.product-img:hover .quick {
  transform: scaleY(1);
}

.product-img:hover .for-product {
  transform: scale(1.1);
}

.quick {
  position: absolute;
  text-decoration: none;
  top: 17rem;
  left: 5rem;
  bottom: -65px;
  transform: scaleY(0);
  color: white;
  transition: transform 0.3s;
}
.quick-btn {
  background-color: white;
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.quick-btn:hover {
  background-color: black;
  color: white;
  transition: ease-in-out 0.5s;
}

.picture-text {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.picture-left {
  display: flex;
  flex-direction: column;
}
.espirit {
  text-decoration: none;
  color: #999999;
}
.love {
  color: #999999;
}
.price {
  color: var(--text-color);
  line-height: 38px;
}
.load {
  text-align: center;
}
.load-btn {
  background-color: #e6e6e6;
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
}

.load-btn:hover {
  background-color: black;
  color: white;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
