*:root {
  --for-arrow: #a5a5a5;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide.active {
  position: relative;
}

.image {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  top: 0px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3.5rem;
  color: var(--for-arrow);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3.5rem;
  color: var(--for-arrow);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.right-arrow:hover,
.left-arrow:hover {
  color: var(--btn-color);
  transition: ease-in-out 0.4s;
}

.slide-img {
  width: 100%;
  top: 0px;
}

.jus {
  position: absolute;
  left: 7.5rem;
  color: #000;
  bottom: 8.7rem;
  color: rgb(61, 61, 61);
}

.jus h1 {
  font-size: clamp(0.5rem, 4vw, 3rem);
  font-weight: 100;
  line-height: 6rem;
}

.jus h2 {
  font-size: clamp(1rem, 5vw, 4rem);
  padding-bottom: 30px;
}

.jus-btn {
  background-color: var(--btn-color);
  padding: 20px 43px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.jus-btn:hover {
  background-color: #000;
  transition: ease-in-out 0.5s;
}
