:root {
  --small-links-color: #b8b8b8;
}

body {
  margin: 0px;
}

.small-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: #222222;
  font-size: 13px;
  color: var(--small-links-color);
}

.free {
  padding-left: 1.5rem;
}

.free p {
  margin: 10px;
}

ul.help {
  display: flex;
  /* width: 34.5%; */
  margin: 0px;
  list-style-type: none;
}

.small-nav li {
  text-decoration: none;
  border-left: 0.1px solid;
  padding: 11px 32px 0px 35px;
}

.small-links {
  text-decoration: none;
  color: var(--small-links-color);
}

.line {
  border-right: 1px solid;
}

nav.big-nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 20px 18px 30px;
  position: fixed;
  width: 100%;
  z-index: 1100;
}
.big-nav.active {
  background: #ffffff;
  transition: 0.4s;
  margin-top: -40px;
}

.left {
  display: flex;
  width: 70%;
}

ul.pages-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-left: 2rem;
  list-style-type: none;
}

.big-nav h1 {
  margin: 0px;
  letter-spacing: 3px;
}
.big-nav h1 > span {
  color: #7a7979;
}

.big-links {
  color: #464646;
  text-decoration: none;
}
a.icons {
  font-size: 28px;
  color: #464646;
}

.big-drop {
  position: relative;
  display: block;
}

.home-drop {
  display: none;
  position: absolute;
  background-color: white;
  width: 10rem;
  z-index: 1;
  top: 100%;
}

.home-drop > li {
  list-style: none;
  padding: 11px;
  display: block;
}

.home-drop .drop {
  text-decoration: none;
  color: rgb(133, 133, 133);
  letter-spacing: 1px;
}
.big-links:hover {
  color: var(--btn-color);
}

.big-links:active,
.home-drop .drop:hover {
  color: var(--btn-color);
}

.big-drop:hover .home-drop {
  display: block;
}

.menu-icon {
  display: none;
}

.shopping-icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

@media screen and (max-width: 992px) {
  .small-nav {
    display: none;
  }
  .big-nav.active {
    margin-top: 0px;
  }
  .big-nav {
    position: absolute !important;
    background-color: white;
  }

  .shopping-icons {
    width: 20%;
  }

  .jux {
    padding: 22px 0px;
    width: 15%;
  }

  .big-links {
    color: white;
  }

  .big-links:hover {
    color: white;
  }

  .menu-icon {
    display: block;
    font-size: 28px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    writing-mode: vertical-rl;
  }
  /* 
  .big-drop:hover .home-drop {
    display: none;
  } */

  ul.pages-links {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    opacity: 1;
    transition: 0.4s;
    transform-origin: top;
    transform: scaleY(0);
    background-color: var(--btn-color);
  }

  ul.pages-links.active {
    display: block;
    top: 70px;
    z-index: 1000;
    transform: scaleY(1);
  }
}
