/*for cart */
:root {
  --border-color: #e6e6e6;
}

.cart {
  padding: 6rem 3.5rem;
}
.home {
  text-decoration: none;
  color: #555;
  font-size: 13px;
}

.home:hover {
  color: var(--btn-color);
}

.home-arrow {
  vertical-align: middle;
}

.shopping-cart {
  font-size: 13px;
  color: rgb(163, 163, 163);
}

form {
  padding: 70px 10px;
}
.left-table {
  width: 70%;
}
.left-table-wrap {
  overflow: auto;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.first-table {
  width: 100%;
  border-collapse: collapse;
}
.table-head {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.left-table th {
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Blog */

.blog {
  padding-top: 5.5rem;
}

.blog-image {
  position: relative;
}

.blog-image img {
  width: 100%;
}

.blog-text {
  color: white;
  position: absolute;
  top: 34%;
  left: 46%;
  font-size: 50px;
}
