@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lobster", cursive;
}

.warp {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* FOr media queries*/

@media only screen and (max-width: 992px) and (min-width: 740px) {
  .slider {
    height: 100vh;
  }
}
