@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lobster", cursive;
}

.warp {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* FOr media queries*/
@media screen and (max-width: 992px) {
  .slider {
    height: 100vh;
  }

  .small-nav {
    display: none;
  }
  .big-nav.active {
    margin-top: 0px;
  }
  .big-nav {
    position: absolute !important;
    background-color: white;
  }

  .shopping-icons {
    width: 20%;
  }

  .jux {
    padding: 22px 0px;
    width: 15%;
  }

  .big-links {
    color: white;
  }

  .big-links:hover {
    color: white;
  }

  .menu-icon {
    display: block;
    font-size: 28px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    writing-mode: vertical-rl;
  }
  /* 
  .big-drop:hover .home-drop {
    display: none;
  } */

  ul.pages-links {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    opacity: 1;
    transition: 0.4s;
    transform-origin: top;
    transform: scaleY(0);
    background-color: var(--btn-color);
  }

  ul.pages-links.active {
    display: block;
    top: 59px;
    z-index: 1000;
    transform: scaleY(1);
  }
}
/* 
@media only screen and (max-width: 992px) and (min-width: 740px) {
  .slider {
    height: 100vh;
  }
} */
