@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lobster", cursive;
}

.warp {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* FOr media queries*/
/* @media screen and (min-width: 1000px) and (max-width: 1200px) {
  .jus {
    bottom: 8rem;
  }
} */
@media screen and (max-width: 992px) {
  .slider {
    height: 100vh;
  }

  /* .jus {
    bottom: 20rem !important;
  } */

  .small-nav {
    display: none;
  }
  .big-nav.active {
    margin-top: 0px;
  }
  .big-nav {
    position: absolute !important;
    background-color: white;
  }

  .shopping-icons {
    width: 20%;
  }

  .jux {
    padding: 22px 0px;
    width: 15%;
  }

  .big-links {
    color: white;
  }

  .big-links:hover {
    color: #0c1a74;
    transition: ease-in-out 0.5s;
  }

  .menu-icon {
    display: block;
    font-size: 28px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    writing-mode: vertical-rl;
  }
  /* 
  .big-drop:hover .home-drop {
    display: none;
  } */

  ul.pages-links {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    opacity: 1;
    transition: 0.4s;
    transform-origin: top;
    transform: scaleY(0);
    background-color: var(--btn-color);
  }

  ul.pages-links.active {
    display: block;
    top: 52px;
    z-index: 1000;
    transform: scaleY(1);
  }
  .all {
    width: auto !important;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon,
  a.icons {
    font-size: 23px;
  }
  .jus-btn {
    padding: 15px 30px !important;
    font-size: 12px;
  }
  .left-arrow,
  .right-arrow {
    font-size: 3rem;
  }
  .categories,
  .hlep,
  .touch,
  .newsletter {
    flex: 0 1 45% !important;
  }
}

@media screen and (max-width: 640px) {
  .btn {
    padding: 9px;
    font-size: 14px;
  }
  .filter,
  .second-search {
    padding: 7px 15px !important;
    font-size: 12px !important;
  }
  .searcht {
    font-size: 12px !important;
  }
  .spring {
    margin-bottom: 4rem;
  }
  .shopping-icons {
    width: 30%;
  }
  .section {
    padding: 0px 16px;
  }
}

@media screen and (max-width: 575px) {
  .jus {
    left: 6rem !important;
    bottom: 11rem !important;
  }
  .jus-btn {
    padding: 12px 20px !important;
    font-size: 10px;
  }
  .product h1 {
    font-size: 25px;
    padding-left: 20px !important;
  }
  .section {
    padding: 0px 10px !important;
  }
  .btn {
    padding: 7px !important;
    font-size: 13px !important;
  }
  .categories,
  .hlep,
  .touch,
  .newsletter {
    flex: 0 1 93% !important;
  }
}
